
        <div class="footer" id="footer">
			<div class="thumbnail-image">
				<img src="/thumbnails/AF_thumb.jpg"/>
			</div>
			<div class="thumbnail-image">
				<img src="/thumbnails/Tieto_thumb.png"/>
			</div>
			<div class="thumbnail-image">
				<img src="/thumbnails/Armada_thumb.png"/>
			</div>
        </div>
    </body>
</html>
