<%- include layouts/header.ejs %>
    <div class="page-data">
        <form method="post" action="/checkpoint/add">
            <fieldset id="required">
                <label for="name">Name</label> <input type="text" id="name" name="name" required><br>
            </fieldset>
            <input type="submit" name="submit" value="Save">
               <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAddBeacon()">
        </form>
    </div>
<%- include layouts/footer.ejs %>
