<div class="checkpoint-info-container">
    <h2>Checkpoints</h2>
    <div class="gmap-container" id="map-canvas" ></div>
    <table id="example" class="display dataTable" border="1" cellpadding="7" cellspacing="7">
        <thead>
        <tr role="row">
            <th width="100px">Name</th>
            <th width="100px">Passed</th>
        </tr>
        </thead>
        <tfoot>
        <tr role="row">
            <th width="100px">Name</th>
            <th width="100px">Passed</th>
        </tr>
        </tfoot>
    </table>
    
</div>