<div class= GoalViewContainer>
	<h2>FinishLine</h2>
    <table id="finish-table" class="finish-table-container" border="1" cellpadding="7" cellspacing="7">
        <thead>
        <tr role="row">
            <th width="100px">Checkpoint</th>
            <th width="100px">FirstName</th>
            <th width="100px">LastName</th>
            <th width="100px">Team</th>
            <th width="100px">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row">
            <th width="100px">Checkpoint</th>
            <th width="100px">FirstName</th>
            <th width="100px">LastName</th>
            <th width="100px">Team</th>
            <th width="100px">Time</th>
        </tr>
        </tbody>
    </table>
</div>