<!DOCTYPE html>
<html>
<link href="/../css/racetracker.css" rel="stylesheet">
<script type="text/javascript" src="/../js/all.js"></script>
<head>
<title>Armada - Beacon System</title>
</head>
<body>

<input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB"> Auto Refresh

<div class="page-data">
    <h2>Checkpoints</h2>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="100px">Name</th>
                <th width="100px">PASSED</th>
            </tr>

            <% if(data.length){ 
                            
             for(var i = 0;i < data.length;i++) { %>
            <tr>
                <td><%=(data[i].name)%></td>
                <td><%=(data[i].passed)%></td>
            </tr>
        <% }

         }else{ %>
             <tr>
                <td colspan="2">No checkpoints</td>
             </tr>
        <% } %>
            
                          
            
        </table>
    </div>
</div>
<script>
var reloading;

function checkReloading() {
    if (window.location.hash=="#autoreload") {
        reloading=setTimeout("window.location.reload();", 5000);
        document.getElementById("reloadCB").checked=true;
    }
}

function toggleAutoRefresh(cb) {
    if (cb.checked) {
        window.location.replace("#autoreload");
        reloading=setTimeout("window.location.reload();", 5000);
    } else {
        window.location.replace("#");
        clearTimeout(reloading);
    }
}

window.onload=checkReloading;
</script>
    
<%- include layouts/footer-sponsor.ejs %>