<!DOCTYPE html>
<html>
<link href="/../css/racetracker.css" rel="stylesheet">
<link href="/../css/stopwatch.css" rel="stylesheet">
<link href="/../css/dataTable.css" rel="stylesheet">
<link href="/../css/markerwithlabel.css" rel="stylesheet">
<script type="text/javascript" src="/../js/all.js"></script>
<head>
<title>Armada - Beacon System</title>
</head>
<body>
<!-- 
<input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB"> Auto Refresh
 -->
<section>
    <div class="basic stopwatch"></div>
    <%- include goal_view.ejs %>

    <%- include checkpoint_view.ejs %>
    
</section>
<!--<%- include layouts/footer-sponsor.ejs %>
-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.15&libraries=geometry"></script>
<script src="/../js/markerwithlabel.js" type="text/javascript"></script>
<script src="/../js/stopwatch.js" type="text/javascript"></script>
<script src="/../js/jquery.dataTables.min.js"></script>

<!--<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
-->

<script>
var reloading;
var markers = [];
$(function(){
    $("#example").dataTable();
  })
function checkReloading() {
    if (window.location.hash=="#autoreload") {
        reloading=setTimeout("window.location.reload();", 5000);
        document.getElementById("reloadCB").checked=true;
    }
}

function toggleAutoRefresh(cb) {
    if (cb.checked) {
        window.location.replace("#autoreload");
        reloading=setTimeout("window.location.reload();", 5000);
    } else {
        window.location.replace("#");
        clearTimeout(reloading);
    }
}

window.onload=checkReloading;


//MAPS


function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPositionOnMap);
    } 
}

function showPositionOnMap(position) 
{
    initialize(position.coords.latitude, position.coords.longitude);
}

var map;

function initialize(long, lati) {
  var mapOptions = {
    zoom: 12,
    center: new google.maps.LatLng(long, lati),
    mapTypeId: google.maps.MapTypeId.HYBRID
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  map.controls[google.maps.ControlPosition.TOP_CENTER].push(
      document.getElementById('info'));

}

var fetchPlaces = function() {

    //var infowindow =  new google.maps.InfoWindow({
    //    content: ''
    //});

    for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
    }
    $.ajax({
        type: 'GET',
        url : '/armadaloppet/checkpointMap',
        dataType : 'json',
        success : function(response) {

            if (response.status == 'OK') {
                checkpoints = response.checkpoints;

                // loop through places and add markers
                for (i in checkpoints) {

                    var tmpLatLng;
                    if(checkpoints[i].cords)
                    {
                        var bound = new google.maps.LatLngBounds();
                        for (var j = 0; j < checkpoints[i].cords.length; j++) {
                          bound.extend( new google.maps.LatLng(checkpoints[i].cords[j].lat, checkpoints[i].cords[j].long) );
                        }

                        tmpLatLng = bound.getCenter();
                    }
                    else
                    {
                        return;
                    }


                    var label = new MarkerWithLabel({
                        map: map,
                        draggable: false,
                        //labelContent: "$hej",
                        labelText: checkpoints[i].name +': '+checkpoints[i].passed,
                        labelAnchor: new google.maps.Point(22, 0),
                        labelClass: "map-label",
                        labelInBackground: false,
                        marker: MarkerWithLabel,
                        optimized: false,
                        //position: new google.maps.LatLng(long, lati)
                        position: tmpLatLng
                    });                

                    // not currently used but good to keep track of markers
                    markers.push(label);
                }
            }
        }
    });
};
google.maps.event.addDomListener(window, 'load', getLocation);
var table;
var table2;
$(document).ready( function () {
    table = $('#checkpoint-table').dataTable( {
        "bServerSide": true,
        //"sAjaxSource": "/armadaloppet/checkpointStatus",
        "sDom": 't',
        "ajax": {
            type: "GET",
            dataType: 'json',
            url: '/armadaloppet/checkpointStatus'
        }
    } );
    setInterval( function () {
        //table.api().ajax.reload();
        table.fnDestroy();
        table = $('#checkpoint-table').dataTable( {
        "bServerSide": true,
        //"sAjaxSource": "/armadaloppet/checkpointStatus",
        "sDom": 't',
        "ajax": {
            type: "GET",
            dataType: 'json',
            url: '/armadaloppet/checkpointStatus'
        }
        } );
    }, 5000 );

    table2 = $('#finish-table').dataTable( {
        "bServerSide": true,
        //"sAjaxSource": "/armadaloppet/checkpointStatus",
        "sDom": 't',
        "ajax": {
            type: "GET",
            dataType: 'json',
            url: '/armadaloppet/goalView'
        }
    } );
    setInterval( function () {
        //table.api().ajax.reload();
        table2.fnDestroy();
        table2 = $('#finish-table').dataTable( {
        "bServerSide": true,
        //"sAjaxSource": "/armadaloppet/checkpointStatus",
        "sDom": 't',
        "ajax": {
            type: "GET",
            dataType: 'json',
            url: '/armadaloppet/goalView'
        }
        } );
    }, 5000 );
    
} );
window.setInterval(function(){
  fetchPlaces();
  
}, 5000);

// var stopwatch_running = false;
// a = document.getElementById("a-timer");

// $(document).keypress(function(e) {
//     alert(e.which)
//     if(e.which == 13) 
//     {
//         if(!stopwatch_running)
//         {
//             alert("hej")
//             aTimer.start();
//             stopwatch_running= true;

//         }
//         else
//         {
//             aTimer.stop();
//             stopwatch_running = false;
//         }
//     }
    
// });

</script>
    
