body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:100%;
  background-image: url('/../images/hero.jpg');
}

.footer
{
  position:fixed;
   left:0px;
   bottom:0px;
   height:150px;
   width:100%;

}
.thumbnail-image
{
	margin: 0 auto;
    float:left;
}	

.checkpoint-info-container
{
}

.gmap-container{
  
  
}
.gmap{
  width:60%;
  height: 500px;
}

.map-label {
     color: black;
     background-color: white;
     font-size:10px;
     opacity: 0.9;
     width: 100px;
     height: 15px;
     border: 2px solid black;
     white-space: nowrap;
   }
